{
  "plugins": [
    "check-es2015-constants",
    "syntax-object-rest-spread",
    "transform-es2015-template-literals",
    "transform-es2015-arrow-functions",
    "transform-es2015-shorthand-properties",
    "transform-es2015-spread",
    "transform-es2015-parameters",
    "transform-es2015-destructuring",
    "transform-es2015-block-scoping",
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        ["transform-async-to-module-method", {
          "module": "bluebird",
          "method": "coroutine"
        }]
      ]
    }
  }
}
