{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:ava/recommended"
  ],
  "plugins": [
    "ava"
  ],
  "rules": {
    "max-len": ["error", 140],
    "linebreak-style": "off",
    // "ava/prefer-power-assert": "error" disable until https://github.com/avajs/eslint-plugin-ava/pull/118
  }
}
