language: node_js
node_js:
  - "node"
  - "5"
  - "4"
  - "0.12"
  - "0.10"
os:
  - linux
  - osx
matrix:
  fast_finish: true
before_install:
  - npm install -g npm
  - npm config set spin false
script: npm run travis
addons:
  code_climate:
    repo_token: a1d700d1c4e22ea58d6c519bcbfa977da04a2bd291643c7665a3587cfb09b4e8
after_success:
  - cat coverage/lcov.info | node_modules/.bin/coveralls --verbose
  - codeclimate-test-reporter < coverage/lcov.info
